<div class="container">
	<br>
	<a href="/">Home</a>
	<br>
	<div class="jumbotron">
    	<h2>Submit Your Query</h2> 
	</div>
	<%= form_for @query, url: url_for(controller: :query, action: :create) do |f| %>
		<div class="form-group">
			<%= f.label :name%>
			<%= f.text_field :name,class: 'form-control', placeholder: 'Enter Name', :required => true%>
		</div>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email ,class: 'form-control', placeholder: 'Enter Email', :required => true%>
		</div>
		<div class="form-group">
			<%= f.label :phone_number %>
			<%= f.email_field :phone_number ,type: 'tel',class: 'form-control',title:'+91-xxxxxxxxxx', pattern: '[\+]\d{2}[\-]\d{10}',  placeholder: 'Enter Phone Number', :required => true%>
		</div>
		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title ,class: 'form-control', placeholder: 'Enter your query', :required => true%>
		</div>
		<div class="form-group">
			<%= f.label :query %>
			<%= f.text_field :query ,class: 'form-control', placeholder: 'Enter your query', :required => true%>
		</div>
		<div  class="form-group">
			<%= f.submit 'Submit Query',class: 'btn btn-default' %>
		</div>

	<% end %>
</div>

