<div class="query-section">
	<div>
		<h3><%= query.title %></h3>
		<div class="inner">
			<h4>Query no. <%= query.id %></h4>
	    		<p>Submitted By: <strong><%= query.name %></strong> on <strong><%= query.created_at.to_date %></strong>.&nbsp&nbsp&nbsp
	    			<span class="button">
	    			 <% if query.query_resolved == true %>
	    			 	<%= "Resolved" %></span></p>
	    			 	<p> Query Resolved By:
	    			 	<strong><%= query.query_solved.user.email %></strong></p>
	    			 <% else %>
	    			 	<%= "Unresolved" %></span></p>
	    			 <% end %>
		</div>
	</div>
	<a href="/query/show?id=<%= query.id %>">See More</a>
</div>